<!doctype html>
<html>
    <head>
        <title>Circles</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/"
                            ><img src="../assets/icon.png" style="width: 150px"
                        /></a>
                    </li>
                    <li>
                        <a href="/"
                            ><img src="../assets/text.png" style="width: 150px"
                        /></a>
                    </li>
                </ul>
                <ul id="actions">
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>

            <% if (matches && matches.length > 0) { %>
                <p>Here are all of your matches:</p>
                <p>
                <table class="table table-bordered">
                <% matches.forEach( (match) => { %>
                    <tr>      
                    <td><b><%= match.name %></b></td> 
                    <td><a href="/profile/?id=<%= match.uid %>">View</a></td> 
                    </tr>                      
                <% }) %>
                </table>
                </p>
            <% } else { %>
            <p>There are no matches for you in the system.</p>
            <% } %>
        </main>
        <script>
            fetch("/isauthed")
                .then((res) => res.json())
                .then((data) => {
                    if (data.isAuthed) {
                        document.getElementById("actions").innerHTML = `
                  <li><a href="/">Home</a></li>
                  <li><a href="/profile/me">Your Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                `;
                    }
                });
        </script>
    </body>
</html>
