<!doctype html>
<html>
    <head>
        <title>Circles</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/"
                            ><img src="/assets/circlesbs.png" style="width: 200px"
                        /></a>
                    </li>
                </ul>
                <ul id="actions">
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <article style="margin-top: 30px">
                <h5>Your Matches</h5>
                <table class="table">
                    <tbody id="yourChats">
                        <% if (matches && matches.length > 0) { %>
                            <p>
                            <table class="table table-bordered">
                            <% matches.forEach( (match) => { %>
                                <tr style="margin-bottom: 10px;">
                                    <td><img id="img" src="<%=match.picture%>" style="width: 50px; margin-right:10px; border-radius:9999px"/>     <b><%= match.name %></b></td>
                                    <td><a href="/profile/?id=<%= match.uid %>">View</a></td>
                                </tr>
                            <% }) %>
                            </table>
                            </p>
                        <% } else { %>
                        <p>There are no matches for you in the system.</p>
                        <% } %>
                    </tbody>
                </table>
            </article>
        </main>
        <script>
            fetch("/isauthed")
                .then((res) => res.json())
                .then((data) => {
                    if (data.isAuthed) {
                        document.getElementById("actions").innerHTML = `
                  <li><a href="/matches">Matches</a></li>
              <li><a href="/chat">Chats</a></li>
              <li><a href="/profile/me">Your Profile</a></li>
              <li><a href="/logout">Logout</a></li>
                `;
                    }
                });
        </script>
    </body>
</html>
